<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NVSE_Docs_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <NVSE_Docs_Manager.Properties.Settings>
            <setting name="TypeCodes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string>Actor_Flags</string>
                        <string>Actor_Value_Codes</string>
                        <string>Ammo_Trait_ID</string>
                        <string>Attack_Animations</string>
                        <string>Biped_Masks</string>
                        <string>Biped_Path_Codes</string>
                        <string>Control_Codes </string>
                        <string>Creature_Type_Codes</string>
                        <string>Default_Forms</string>
                        <string>DirectX_Scancodes </string>
                        <string>Equip_Slots</string>
                        <string>Equip_Type</string>
                        <string>Form_Type_IDs </string>
                        <string>Format_Specifiers </string>
                        <string>Map_Marker_Type </string>
                        <string>Perk_Entry_Point</string>
                        <string>Radio_Broadcast_Type </string>
                        <string>Reload_Animations </string>
                        <string>Weapon_Flags </string>
                        <string>Weapon_Hand_Grips </string>
                        <string>Weapon_Mod </string>
                        <string>Weapon_Type</string>
                    </ArrayOfString>
                </value>
            </setting>
        </NVSE_Docs_Manager.Properties.Settings>
    </userSettings>
</configuration>