::-webkit-scrollbar {
    width:  10px;
    background: #A9A9A9;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow:  inset 3px 2px 6px rgba(0, 0, 0, 0.3);
    background-color:  #DCDCDC;
}
::-webkit-scrollbar-track:hover {
    -webkit-box-shadow:  inset 3px 2px 6px rgba(0, 0, 0, 0.45);
    background-color: #a7a7a7;
}
::-webkit-scrollbar-track:active {
    -webkit-box-shadow:  inset 3px 2px 6px rgba(0, 0, 0, 0.45);
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.30);
    border: 2px outset;

}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.60);
    border: 2px outset;

}
::-webkit-scrollbar-thumb:active {
    background-color: rgb(0, 0, 0);
    border: 2px outset;
}